* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
    }
.header
.header::after{
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}
.header{
  font-family: 'Alegreya Sans SC', sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('../images/header.jpg');
}
.header h1{
  margin-top: 0;
  font-size: 36px;
  padding-top: 85px;
}
.navigation{
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-top: 50px;
}
.navigation a{
  color: #2d2a32;
  font-size: 24px;
}
.navigation li>a:hover,
.navigation li>a:focus{
  background-color: transparent;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}
.navbar {
  text-align:center;
}
.h-bu{
  padding-top: 140px;
  padding-bottom: 410px;
}
/*Button transparency when not active or hover */
.h-button{
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
  width: 450px;
  padding: 8px;
  color: #2d2a32;
  border: 2px solid #2d2a32;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
/* Transprent hover button */
.h-button:hover,
.h-button:active{
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #2d2a32; /* fallback */
  border-color: rgba(45,42,50, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
  text-decoration: none;
}

.portfolio{
  margin-top: -5em;
  background-color: white;
  text-align: center;
  margin-left: 10em;
  margin-right: 10em;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.portfolio h2{
  font-size: 3em;
  padding-top: .8em;
  margin-top: -3em  ;
}
.portfolio p{
  font-size: 2em;
}
.gallery{
  padding-top: 5em;
  padding-bottom: 5em;
}
.story{
  background-color: #668d8c;
  padding-bottom: 5em;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.story p{
  font-size: 1.2em;
  text-align:justify;;
  max-width: 60%;
}
